/* DAB - 20230227 */
:root {
    --color1: #FCFAF2;
    --color2: #212529;
    --color3: #E27162;
    --color4: #1c1c27;
    --color5: #000000;
    --color6: #FFFFFF;
}

::-moz-selection {
    color: var(--color6);
    background: var(--color3);
}

::selection {
    color: var(--color6);
    background: var(--color3);
}

@font-face {
    font-family: "BonVivant";
    src: url("/assets/fonts/BonVivant/BonVivant-Regular.woff2") format("woff"),
        url("/assets/fonts/BonVivant/BonVivantSerif.woff2") format("woff"),
        /* url("/assets/fonts/BonVivant/BonVivantSerifBold.woff2") format("woff"), */
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--color1);
}

.dropdown-menu {
    background-color: var(--color1);
}

.vd-header {
    background-color: var(--color1);
    height: 85px;
    display: flex;
    align-items: center;
}

.vd-header-top {
    border-bottom: 1px solid var(--color4);
    background-color: var(--color4);
}

.vd-header .vd-header-inner {
    width: 100%;
}

.navbar-transparent .vd-topmenu .nav-item .nav-link {
    font-family: 'Lato', sans-serif;
    background: transparent !important;
    color: #212529 !important;
    font-size: 16px;
    font-weight: 500;
}

.vd-topmenu .nav-item .nav-link.dropdown-toggle::after {
    color: #212529;
}

.vd-header-text a {
    color: var(--color3) !important;
}

.vd-topmenu .mega-dropdown-menu {
    top: 45px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--color3) !important;
}

.dropdown-item:focus,
.dropdown-item:hover .isvg>svg path[class=cls-1],
.vendorMenu .vendor-items:hover .isvg>svg path[fill="#FF4262"],
.vendorMenu .vendor-items:hover .isvg>svg rect[fill="#FF4262"] {
    fill: var(--color3);
}

.dropdown-item {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.vd-home-slider .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: radial-gradient(80% 80% at center, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.95) 100%);
}

.vd-search-cms .search-head-title {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
    text-shadow: none;
    color: var(--color1);
}

.vd-search-cms .search-form {
    padding: 30px 60px;
    border-radius: 0;
    background: rgb(252 250 242 / 50%);
}

.vd-search-cms .search-form .vd-select-drop {
    display: flex;
}

.vd-search-cms .search-form .vd-search-btn {
    font-family: 'Lato', sans-serif;
    border-radius: 0.5rem !important;
}

.vd-search-cms .gsc-search-box .gsc-input {
    font-family: 'Lato', sans-serif;
    color: var(--color2);
}

.vd-search-cms .gsc-search-box .gsst_a .gscb_a {
    color: rgb(226 113 98 / 70%);
    line-height: 36px;
}

.vd-search-cms .gsc-search-box .gsc-search-button {
    border-color: var(--color3);
    background-color: var(--color3);
    border-radius: 0.5rem !important;
    font-family: 'Lato', sans-serif;
}

.vd-select-drop .select2-selection__rendered {
    background: var(--color6);
    box-shadow: 0 2px 3px 0 #EEEADD;
    border: 0;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border-radius: 0.5rem;
    font-family: 'Lato', sans-serif;
    color: #212529 !important;
}

.vd-select-drop .select2-selection--single {
    background-color: transparent;
    border: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #9c9c9c;
}

.vd-popular-search .vd-title {
    font-family: 'Lato', sans-serif;
}

.select2-dropdown {
    z-index: 1000;
}

/* scroll */
body::-webkit-scrollbar-track,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 4px;
    background-color: var(--color6);
}

body::-webkit-scrollbar,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color6);
}

body::-webkit-scrollbar-thumb,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: none;
    background: #999999;
}

a:hover {
    color: var(--color3);
}

.vendor-icon-circle:focus,
.vendor-icon-circle:hover .isvg>svg path[class=cls-1],
.vendor-items:hover .isvg>svg path[fill="#FF4262"],
.vendorMenu .vendor-items:hover .isvg>svg rect[fill="#FF4262"],
.vd-vender-cms .vd-icon>svg [fill="#E64397"] {
    fill: var(--color3);
}

.vd-popular-search .vendor-icon-circle:hover p {
    color: var(--color3);
}

.vd-popular-search .vendor-icon-circle p {
    font-family: 'Lato', sans-serif;
    color: var(--color2);
}

.vd-section-title .vd-title {
    font-family: Bon Vivant, serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: var(--color2);
}

.vd-section-title .vd-title2 {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: var(--color2);
    padding: 0 !important;
}

.vd-section-title .vd-title .vd-main-tag {
    font-family: 'Parisienne', cursive;
    color: #444;
    font-style: italic;
}

.vd-section-title .vd-subtitle {
    font-family: 'Lato', sans-serif;
    color: var(--color2);
    margin-bottom: 16px;
}

.vd-section-title {
    margin-bottom: 24px;
}

.venue-categories-overlay h3 {
    font-family: 'Lato', sans-serif;
}

.venue-categories-block:hover {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.venue-categories-img {
    border-radius: 6px;
}

.vd-how-work-cms {
    background: rgb(226 113 98 / 30%);
}

.bg-white {
    background-color: var(--color1) !important;
}

.vd-how-work-cms .how-it-block-circle {
    border: var(--color3);
}

.vd-how-work-cms .how-it-block-content .how-it-block-descriptions {
    font-family: 'Lato', sans-serif;
    text-shadow: none !important;
    line-height: 24px;
    color: #555555 !important;
}

.vd-how-work-cms .how-it-block-title b {
    color: var(--color2) !important;
    font-weight: 600;
}

.vd-how-work-cms .how-it-block-circle>svg path[fill="#E64398"],
.vd-how-work-cms .how-it-block-circle>svg path[fill="#FF66C5"] {
    fill: var(--color3);
}

.vd-how-work-cms .how-it-block-circle>svg rect[fill="#FFC4E3"],
.vd-how-work-cms .how-it-block-circle>svg path[fill="#FFC4E3"],
.vd-how-work-cms .how-it-block-circle>svg polygon[fill="#FFC4E3"] {
    fill: rgb(226 113 98 / 30%);
}

.vd-inquiry-cms {
    padding-top: 60px;
    padding-bottom: 0;
}

.vd-plan-cms {
    padding-top: 60px;
    padding-bottom: 60px;
}

.vd-frminput {
    background: var(--color6);
    box-shadow: 0 2px 3px 0 #eeeadd;
    border: 0;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border-radius: 0.5rem;
    height: 48px;
}

.vd-frmtextarea {
    background: var(--color6);
    box-shadow: 0 2px 3px 0 #eeeadd;
    border: 0;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border-radius: 0.5rem;
}

.vd-frmbtn,
.vd-btn1 {
    font-family: 'Lato', sans-serif;
    border-radius: 0.5rem !important;
    background: var(--color3);
    color: var(--color6);
    border-color: var(--color3);
    height: 44px;
    line-height: 42px;
    padding: 0 15px !important;
    font-size: 14px !important;
}

.vd-frmbtn:hover,
.vd-btn1:hover,
.vd-search-cms .search-form .vd-search-btn:hover {
    background-color: var(--color4) !important;
    border-color: var(--color4) !important;
    color: var(--color6) !important;
}

.vd-plan-cms {
    background-color: var(--color1) !important;
}

.vd-plan-cms .vd-plan-content ul li {
    box-shadow: 0px 5px 20px #eeeadd;
    background: rgb(252 250 242);
}

.vd-plan-cms .vd-plan-content ul li .vd-title {
    font-family: 'Lato', sans-serif;
    color: var(--color2);
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0;
    margin-top: 5px;
}

.vd-plan-cms.logo-container ul li:hover {
    background: rgb(226 113 98 / 30%);
}

.vd-plan-cms .vd-plan-content h3 #planlogo {
    width: 100px;
}

.vd-plan-cms .vd-plan-content ul li:hover h3 #planlogo {
    width: 120px;
}

.vd-vender-cms .arevendor .vd-title {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.vd-vender-cms .arevendor .vd-subtitle {
    font-family: 'Lato', sans-serif;
}

.vd-footer {
    background-color: var(--color4);
    color: var(--color6);
    padding: 48px 12px;
}

.vd-footer .widget-title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
}

.vd-footer .vd-footer-item li a {
    font-family: 'Lato', sans-serif;
    color: var(--color3);
    line-height: 24px;
}

.vd-footer .vd-footer-item li {
    margin-bottom: 8px;
}

.vd-footer .footer-widget .desc {
    font-family: 'Lato', sans-serif;
    line-height: 18px;
    margin-bottom: 15px;
}

.vd-footer .footer-widget .vd-btn1:hover {
    background: var(--color3) !important;
    color: var(--color6) !important;
    border-color: var(--color3) !important;
}

.vd-footer .social-icons .icon-square {
    width: 40px;
    height: 40px;
}

.vd-footer .social-icons .icon-square:hover {
    background-color: var(--color3);
    color: var(--color6);
}

.scrollToTopBtn {
    font-size: 18px !important;
    border-radius: 0.5rem !important;
}

.vd-footer-bottom {
    background-color: var(--color5);
    color: var(--color6);
}

.at-image-sharing-tool {
    z-index: 99 !important;
}

.twitter-mention-button .btn:hover,
.twitter-mention-button .btn:active,
.twitter-mention-button .btn:focus {
    background-color: #1d9bf0 !important;
}

.vd-login .backtohome,
.vd-customer-registration .backtohome {
    background: var(--color3);
    top: 0;
    left: 0;
    color: var(--color6);
    position: absolute;
    padding: 8px 11px;
    line-height: 22px;
    font-size: 22px;
    border-radius: 3px 0px 3px 0px;
}

.backtohome p {
    font-size: 11px;
    margin: 0px;
    line-height: 8px !important;
    font-family: 'Lato', sans-serif;
}

.vd-login .vd-logo img {
    padding: 0 !important;
    width: 165px;
}

.vd-login .vd-title {
    font-family: 'Parisienne', cursive;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    text-shadow: none;
    color: var(--color2);
}

.vd-login .vd-subtitle {
    font-family: 'Lato', sans-serif;
    color: var(--color2);
}

.vd-login .vd-subtitle .vd-main {
    color: var(--color3);
    font-style: inherit;
}

.vd-login .vendorsign-div {
    background-color: var(--color4);
    font-size: 14px;
}

.vd-login .vendorsign-div .vd-btn2 {
    background: transparent;
    padding: 0;
    font-weight: 400;
    text-decoration: underline;
    color: var(--color3);
}

.vd-login .vd-frminput {
    border: 1px solid #eeeadd;
}

.vd-login .rc-anchor-error-message {
    font-family: 'Lato', sans-serif;
}

.vd-login .vd-text2 {
    font-family: 'Lato', sans-serif;
    color: var(--color2);
    font-size: 16px;
    font-weight: 500;
}

.vd-login .loginform {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}

.vd-login .vendor-login {
    position: relative;
}

.vd-login {
    height: 100%;
}

.vd-login .vd-form-outer {
    margin-left: 15px;
    margin-right: 15px;
}

.vd-customer-registration .vd-title {
    font-family: 'Parisienne', cursive;
    font-style: italic;
}

.vd-customer-registration .registration_container {
    box-shadow: 0px 5px 20px #212529;
    background: rgb(252 250 242);
    border-radius: 3px;
    padding: 60px 40px 40px 40px;
}

.vd-frminput2 {
    font-family: 'Lato', sans-serif;
    background: var(--color6);
    box-shadow: 0 2px 3px 0 #eeeadd!important;
    text-decoration: none;
    width: 100%!important;
    text-align: left;
    border-radius: 0.5rem!important;
    height: 48px!important;
    border: 1px solid #eeeadd!important;
    line-height: 34px;
}

.vd-frminputwrap .vd-icon {
    height: 48px!important;
    line-height: 46px!important;
    color: #a2a2a2;
    font-size: 18px;
}

@media(max-width: 991px) {}

@media(max-width: 768px) {
    .vd-login .loginform {
        max-width: 377px;
        width: 100%;
    }
}

@media(max-width: 375px) {
    .vd-login .loginform {
        transform: scale(0.85);
    }

    .vd-login .loginform .vendor-login,
    .vd-login .loginform .vendorsign-div {
        margin: 0;
    }
}